<form action="/stats" method="GET">
  <label for="steam_id">Steam ID, Community ID, or Custom URL:</label>
  <input id="steam_id" type="text" name="steam_id" value="76561197979940569">
  <input id="submit" type="submit">
</form>

<div id="stats-area"></div>